<!DOCTYPE html>
<html>

<head>
    <link` href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
        <title>PDF</title>

        <style>
          
             @media print {
                .is-page {
                   /* break-inside: avoid;*/
                }
            }

            body {
                font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
                padding: 0 50px;
            }

            table {
                width: 100%;
                font-size: 8px;
            }

           

            td>p {
                margin: 0;
                padding: 0;
                font-weight: 600;
            }

            img {
                height: 100px;
                width: 120px;
            }

            .td-right {
                text-align: right;
                vertical-align: middle;
            }

            .title {
                font-size:12px;
            }

            .subtitle {
                font-size: 10px;
                /* font-weight: 900; */
            }

            .content{
                font-size: 8px;
            }

             .ttlcontent{
                font-size: 8px;
                border: 1px solid black;"
            }
        </style>
</head>

<body>
      {{#each data}}
    <div class="main is-page">
        <table>
            <tbody>
                <tr>
                    <td>
                        {{!-- <img class="logo" src="{{ this.logo }}" /> --}}
                    </td>
                    <td class="td-right">
                        <p class="title">
                            Rank VOC By Outlet
                        </p>
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="title">
                        TypeVoc: {{this.vocFilter}} 
                        </p>
                    </td>
                    <td class="td-right">
                        <p class="title">
                           Period : {{this.StartDate}} - {{this.EndDate}} 
                        </p>
                        
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <br />
        <br />
        <table style="border: 1px solid black;border-collapse: collapse;">
            <tbody >
               
                <tr style="border: 1px solid black;">
                     <th class="ttlcontent" style="width:30%;text-align:left">Nama Outlet</th>
                     <th class="ttlcontent" style="width:25%;text-align:left">DRM</th>
                     <th class="ttlcontent" style="width:25%;text-align:left">AM</th>
                     <th class="ttlcontent" style="width:15%;text-align:left">QTY</th>
                      <th class="ttlcontent" style="width:15%;text-align:left">RANK</th>     
                </tr>
                {{#each  this.listrank }}
                    <tr >
                        
                        <td class="content" style="width:30%;border-right: 1px solid black;">{{this.OutletName}}</td>
                        <td class="content" style="width:25%;border-right: 1px solid black;">{{{this.drm}}}</td>
                        <td class="content" style="width:25%;border-right: 1px solid black;">{{{this.am}}}</td>
                        <td class="content" style="width:15%;border-right: 1px solid black;">{{{this.qty}}}</td>
                        <td class="content" style="width:15%;">{{{this.rank}}}</td>
                    </tr>
                {{/each}}
                
                    <tr style="border: 1px solid black;">
                          <td class="content td-right" style="width:30%;border-right: 1px solid black;" colspan="3">Total Complaint :</td>
                          <td class="content" style="width:30%;border-right: 1px solid black;" colspan="2">{{this.jumlahQty}}</td>
                    </tr>
            </tbody>
        </table>
        <br />
        <br />

        <br />
        <br />
      
        <br />
        <table>
            <tbody>
                 <tr>
                    <td ><br /></td>
                </tr>
                <tr> 
                   
                     <td class="content" style="width:30%;" >Print Date: {{this.printDate}}</td>
                </tr>
               
    
            </tbody>
        </table>
    </div>
    {{/each}}
</body>

</html>
